.section-1 {
    height: max-content;
    width: 100%;
    /* background-image: url('../../image/Main_screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -5rem; */
    background-color: #131313;
    overflow-y: hidden;
}

#fullscreen-video {
    /* max-height: 100%; */
    width: 100%;
    
}