@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:300,400,700');



.section-5 {
    display: column;
    /* flex-direction: column; */
    width: 100%;
    height: max-content;
    padding-bottom: 5rem;
    background-color: #1f1f1f;

}



.section-5-title {
    position: relative;
    display: flex;
    max-width: 20rem;
    /* max-height: 5rem; */
    flex-wrap: wrap;
    /* margin-top: 15rem; */
    /* margin-left: 8rem; */
    color: aliceblue;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
    /* margin: auto; */
    /* background-color: blue; */
    margin: auto;
}

.section-5-title p {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

#student {
    color: #99cc7a;
}

.section-5-content {
    position: relative;
    max-width: 45rem;
    /* margin-top: 16rem; */
    /* margin-left: 15rem; */
    color: aliceblue;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.75rem;
    margin: auto;
    padding-top: 1rem;
    /* background-color: green; */
    /* text-align: center; */
}

.title-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: block; */
    max-width: max-content;
    height: max-content;
    /* padding-bottom: 10rem; */
    /* background-color: red !important; */
    /* margin-top: auto; */
    /* background-color: teal; */
    /* align-items: center;
    justify-content: center; */
    margin: auto;
    padding: 5rem 0;

}

#bar {
    text-decoration: underline;
    text-decoration-color: #99cc7a;
    text-underline-offset: .8rem;
    text-decoration-thickness: 10px;
}

#student {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: .6rem;
    text-decoration-thickness: 10px;
}

.slider-container {
    display: flex;
    /* max-width: 80rem; */
    width: 100vw;
    height: 25rem;
    /* background-color: green !important; */
    justify-content: center;

}

.slider {
    /* position: absolute; */
    display: flex;
    /* flex-direction: row; */
    max-width: 31rem;
    /* max-width: 50rem; */
    max-height: 28rem;
    /* margin-top: 30rem; */
    /* margin: 30rem auto 0; */
    /* padding-left: 3rem; */
    /* background-color: red; */
    margin: auto;
}

#pic {
    height: 400px;
    width: 533px;

}